*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(pic/img.jpg);
	height: 100vh;
	background-size: cover;
	background-position:  center;
}

ul {
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.logo img{
	float: left;
	width: 150px;
	height: auto;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.haheha {
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("pic/germar.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: absolute;
	padding: 300px;
	text-align: left;
	color: white;
	font-size: 70px;
}

.p {
	font-size: 80px;
}

.hehahe { 
	margin-left: 20px
}
	
.haheha h1{
	font-size: 30px;
}

.haheha p{
	font-size: 20px;
}

.llll {
	padding: 10px;
}

.top {
	font-size: 40px;
	text-align: center;
}

.again {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 30px;
	text-align: center;
}

.hello {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 30px;
	text-align: center;
}

.jack {
	padding: 10px;
}

.huhuhu {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr ;
}

.epal {
	padding: 10px;
}

.bwisit {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
}

.eww {
	padding: 10px;
}

.shot {
	font-size: 40px;
	text-align: center;
}

.yawkona {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 30px;
	text-align: center;
}

.hotdog {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 30px;
	text-align: center;
}

.ngek {
	padding: 10px;
}

.mamama {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr ;
}

.nako {
	padding: 10px;
}

.okay {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
}

.aww {
	padding: 10px;
}

.gusto {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 30px;
	text-align: center;
}

.ko {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 30px;
	text-align: center;
}

.ng {
	padding: 10px;
}

.manok {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr ;
}

.jollibee {
	padding: 10px;
}

.yah {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
}

.mia {
	padding: 10px;
}

.yiii {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 30px;
	text-align: center;
}

.kita {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 30px;
	text-align: center;
}

.love {
	padding: 10px;
}

.mianhe {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr ;
}

.bogoshippo {
	padding: 10px;
}

.saranghae {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
}

.cazzo {
	padding: 10px;
}

.last {
	position: absolute;
	top: 90%;
	left: 43%;
	transform: translate(-50%,-50%)
	padding: 5px;
}

.last a{
	color: white;
	text-decoration: none;
}

h5 {
	color: white;
}

h4 {
	position: absolute;
	top: 100%;
	left: 30%;
}

.last a:hover {
	color: gray;
}

